/* line 3, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 8, ../sass/style.scss */
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* line 12, ../sass/style.scss */
main {
  position: relative;
  margin-top: 100vh;
}

/* line 16, ../sass/style.scss */
section {
  padding-top: 4%;
  padding-bottom: 4%;
  background: #ffffff;
}

/* line 21, ../sass/style.scss */
p {
  font-family: 'Open Sans', sans-serif;
  color: #808080;
}

/* line 25, ../sass/style.scss */
a {
  text-decoration: none;
  color: #ffffff;
}

/* line 29, ../sass/style.scss */
h2 {
  color: #4285f4;
  font-weight: bold;
  white-space: 3px;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 35px;
}
/* line 36, ../sass/style.scss */
h2 hr {
  width: 20%;
  margin: 10px auto;
  border: 1px solid #585858;
  border-radius: 1px;
}

/* line 43, ../sass/style.scss */
.container {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

/* line 47, ../sass/style.scss */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 50, ../sass/style.scss */
.flex-dir {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 53, ../sass/style.scss */
.desc {
  margin-bottom: 30px;
  text-align: center;
}

/* line 57, ../sass/style.scss */
.skills, .contact {
  background: #f7f7f7;
}

/* line 60, ../sass/style.scss */
.icon-bar {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  border-radius: 2px;
  transition: .4s;
}

/*
* works animation
*/
/* line 72, ../sass/style.scss */
.scal {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
}

/* line 75, ../sass/style.scss */
.flip {
  -webkit-transform: perspective(400px) rotateX(0) !important;
          transform: perspective(400px) rotateX(0) !important;
  opacity: 1 !important;
}

/*
* Button
*/
/* line 82, ../sass/style.scss */
.btn {
  padding: 12px 25px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  margin: 5px 10px;
  word-spacing: 2px;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 92, ../sass/style.scss */
.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* line 97, ../sass/style.scss */
.btn-primary {
  background: #4285f4;
  color: #ffffff;
}

/* line 101, ../sass/style.scss */
.btn-secondary {
  background: transparent;
  border: 2px solid #333333;
  color: #333333;
  padding: 10px 23px;
}

/*
* Header page
*/
/* line 111, ../sass/style.scss */
header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(40deg, rgba(69, 202, 255, 0.7), rgba(48, 63, 159, 0.7)), url("../image/person.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 122, ../sass/style.scss */
header.container {
  padding: 3% 5%;
}

/* line 125, ../sass/style.scss */
nav {
  color: #ffffff;
  width: 100%;
  padding: 10px;
}

/* line 130, ../sass/style.scss */
.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* line 133, ../sass/style.scss */
.menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
  left: 0;
  padding: 20%;
  list-style: none;
  background: linear-gradient(40deg, #45caff, #303f9f);
}
/* line 144, ../sass/style.scss */
.menu li {
  height: 20%;
  width: 100%;
  text-align: center;
  padding: 30px 15px;
  cursor: pointer;
}
/* line 150, ../sass/style.scss */
.menu li hr {
  margin-top: 10px;
  border: 0.5px solid #ffffff;
  width: 0;
  visibility: hidden;
  transition: .3s;
}
/* line 159, ../sass/style.scss */
.menu li:hover hr {
  visibility: visible;
  width: 100%;
  transition: .3s;
}
/* line 166, ../sass/style.scss */
.menu li.active hr {
  visibility: visible;
  width: 100%;
}

/* line 172, ../sass/style.scss */
.nav-toggle {
  position: relative;
  z-index: 6;
}
/* line 175, ../sass/style.scss */
.nav-toggle .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
/* line 178, ../sass/style.scss */
.nav-toggle .icon-bar:nth-of-type(2) {
  opacity: 1;
}
/* line 181, ../sass/style.scss */
.nav-toggle .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

/* line 186, ../sass/style.scss */
.nav-toggle.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translateY(-1px);
          transform: rotate(-45deg) translateY(-1px);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}
/* line 190, ../sass/style.scss */
.nav-toggle.x .icon-bar:nth-of-type(2) {
  opacity: 0;
}
/* line 193, ../sass/style.scss */
.nav-toggle.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translateY(1px);
          transform: rotate(45deg) translateY(1px);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

/* line 198, ../sass/style.scss */
.prologue {
  color: #ffffff;
  width: 40%;
  position: absolute;
  top: 25%;
  left: 35%;
  -webkit-animation: ShowPrologue 1s;
          animation: ShowPrologue 1s;
}
/* line 205, ../sass/style.scss */
.prologue h1 {
  font-weight: bold;
  font-size: 2.5rem;
}
/* line 209, ../sass/style.scss */
.prologue span {
  display: block;
}
/* line 212, ../sass/style.scss */
.prologue p {
  color: #ffffff;
}

/*
* Section About-me
*/
/* line 220, ../sass/style.scss */
.see-me {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 222, ../sass/style.scss */
.see-me img {
  width: 100%;
}

/* line 226, ../sass/style.scss */
.social-media {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
/* line 230, ../sass/style.scss */
.social-media li {
  margin: 5px;
  padding: 5px;
  background: #333333;
  width: 40px;
  height: 40px;
  transition: .3s;
}
/* line 237, ../sass/style.scss */
.social-media li img {
  width: 100%;
}
/* line 241, ../sass/style.scss */
.social-media li:hover {
  background: #4285f4;
  transition: .3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 248, ../sass/style.scss */
.self-description h4 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
/* line 252, ../sass/style.scss */
.self-description p {
  margin-bottom: 15px;
  font-size: 0.95rem;
  text-align: justify;
}

/* line 258, ../sass/style.scss */
.btn-description {
  text-align: center;
}

/*
* Section Skill
*/
/* line 265, ../sass/style.scss */
.skills-box {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 25px;
}

/* line 270, ../sass/style.scss */
.skill {
  background: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: .9rem;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  transition: all .3s;
  cursor: crosshair;
}
/* line 278, ../sass/style.scss */
.skill h4 {
  color: #333333;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
/* line 283, ../sass/style.scss */
.skill span {
  margin-bottom: 20px;
  color: #4285f4;
}

/* line 288, ../sass/style.scss */
.skill:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: .3s;
}

/*
* Section Works
*/
/* line 295, ../sass/style.scss */
.works-box {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 25px;
}

/* line 300, ../sass/style.scss */
.job {
  position: relative;
  transition: .5s;
  cursor: pointer;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: perspective(400px) rotateX(-90deg);
          transform: perspective(400px) rotateX(-90deg);
  opacity: 0;
  transition: .5s;
}
/* line 308, ../sass/style.scss */
.job img {
  width: 100%;
  min-height: 100%;
}
/* line 312, ../sass/style.scss */
.job::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background: rgba(88, 88, 88, 0.75);
  opacity: 0;
  font-family: "Font Awesome\ 5 Free";
  content: '\f002';
  font-size: 48px;
  padding-top: 20%;
  font-weight: 900;
  color: white;
  text-align: center;
  vertical-align: middle;
  transition: .5s;
}

/* line 331, ../sass/style.scss */
.job:hover {
  transition: .5s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background: #4285f4;
}
/* line 335, ../sass/style.scss */
.job:hover::after {
  opacity: 1;
  transition: .5s;
  height: 57%;
}

/*
* Section Contact
*/
/* line 344, ../sass/style.scss */
form {
  width: 100%;
}

/* line 347, ../sass/style.scss */
input, textarea {
  width: 100%;
  margin-bottom: 25px;
  background: #ffffff;
  border: none;
  padding: 15px;
  color: #333333;
}

/* line 355, ../sass/style.scss */
textarea {
  resize: none;
}

/*
* Footer Page
*/
/* line 361, ../sass/style.scss */
footer {
  position: relative;
  background: #4285f4;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

/* line 368, ../sass/style.scss */
.thank-you {
  text-align: center;
  display: none;
}
/* line 371, ../sass/style.scss */
.thank-you img {
  width: 50%;
}

/* line 375, ../sass/style.scss */
svg #big-circle {
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: BigCircle 4s forwards;
          animation: BigCircle 4s forwards;
}

/* line 380, ../sass/style.scss */
svg #middle-circle {
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: MiddleCircle 4s forwards;
          animation: MiddleCircle 4s forwards;
}

/* line 385, ../sass/style.scss */
svg #small-circle {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: SmallCircle 4s forwards;
          animation: SmallCircle 4s forwards;
}

/* line 389, ../sass/style.scss */
svg #thank-you {
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: ThankYou 4s forwards;
          animation: ThankYou 4s forwards;
}

@media (min-width: 576px) {
  /* line 2, ../sass/_media.scss */
  .menu {
    padding: 5%;
  }

  /* line 5, ../sass/_media.scss */
  .prologue {
    width: 50%;
    left: 45%;
    top: 25%;
  }

  /* line 10, ../sass/_media.scss */
  .see-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 13, ../sass/_media.scss */
  .see-me img {
    width: 60%;
  }

  /* line 17, ../sass/_media.scss */
  .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /* line 21, ../sass/_media.scss */
  .self-description h4 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  /* line 28, ../sass/_media.scss */
  h2 hr {
    width: 7%;
  }

  /* line 32, ../sass/_media.scss */
  .flex-dir {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  /* line 35, ../sass/_media.scss */
  .menu {
    display: initial;
    background: none;
    position: relative;
    width: auto;
    height: auto;
    z-index: 0;
    padding: 0;
  }
  /* line 43, ../sass/_media.scss */
  .menu li {
    float: left;
    height: auto;
    width: auto;
    padding: 10px 15px;
  }

  /* line 50, ../sass/_media.scss */
  .nav-toggle {
    display: none;
  }

  /* line 53, ../sass/_media.scss */
  .prologue {
    width: 60%;
    top: 35%;
    left: 35%;
  }
  /* line 57, ../sass/_media.scss */
  .prologue h1 {
    font-size: 4rem;
  }

  /* line 61, ../sass/_media.scss */
  .see-me {
    display: block;
    margin-right: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 65, ../sass/_media.scss */
  .see-me img {
    width: 100%;
  }

  /* line 69, ../sass/_media.scss */
  .social-media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  /* line 73, ../sass/_media.scss */
  .self-description h4 {
    text-align: left;
  }
  /* line 76, ../sass/_media.scss */
  .self-description p {
    text-align: left;
  }

  /* line 80, ../sass/_media.scss */
  .skills-box {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 992px) {
  /* line 85, ../sass/_media.scss */
  header.container {
    padding: 0 12.5%;
  }

  /* line 88, ../sass/_media.scss */
  .prologue {
    left: 40%;
  }
  /* line 90, ../sass/_media.scss */
  .prologue h1 {
    font-size: 3rem;
  }

  /* line 95, ../sass/_media.scss */
  .see-me img {
    width: auto;
    max-width: 350px;
  }

  /* line 100, ../sass/_media.scss */
  .skills-box {
    grid-template-columns: 31% 31% 31%;
  }

  /* line 103, ../sass/_media.scss */
  .works-box {
    grid-template-columns: auto auto;
  }

  /* line 106, ../sass/_media.scss */
  form {
    width: 70%;
    margin: 0 15%;
  }

  /* line 110, ../sass/_media.scss */
  input[name=name] {
    width: 48%;
    float: left;
  }

  /* line 114, ../sass/_media.scss */
  input[name=email] {
    width: 48%;
    float: right;
  }
}
/*
* Prologue
*/
@-webkit-keyframes ShowPrologue {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ShowPrologue {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*
* SVG in footer
*/
@-webkit-keyframes BigCircle {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.78) rotateZ(0);
            transform: scale(0.78) rotateZ(0);
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
    opacity: 1;
  }
}
@keyframes BigCircle {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.78) rotateZ(0);
            transform: scale(0.78) rotateZ(0);
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
    opacity: 1;
  }
}
@-webkit-keyframes MiddleCircle {
  0% {
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0.71) rotateZ(0);
            transform: scale(0.71) rotateZ(0);
    opacity: 0;
  }
  27% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1) rotateZ(-180deg);
            transform: scale(1) rotateZ(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(-180deg);
            transform: scale(1) rotateZ(-180deg);
    opacity: 1;
  }
}
@keyframes MiddleCircle {
  0% {
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0.71) rotateZ(0);
            transform: scale(0.71) rotateZ(0);
    opacity: 0;
  }
  27% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1) rotateZ(-180deg);
            transform: scale(1) rotateZ(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(-180deg);
            transform: scale(1) rotateZ(-180deg);
    opacity: 1;
  }
}
@-webkit-keyframes SmallCircle {
  0% {
    -webkit-transform: scale(0) rotateZ(0);
            transform: scale(0) rotateZ(0);
  }
  25% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
}
@keyframes SmallCircle {
  0% {
    -webkit-transform: scale(0) rotateZ(0);
            transform: scale(0) rotateZ(0);
  }
  25% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(180deg);
            transform: scale(1) rotateZ(180deg);
  }
}
@-webkit-keyframes ThankYou {
  0% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ThankYou {
  0% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
