/*
* Prologue
*/
@keyframes ShowPrologue {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/*
* SVG in footer
*/
@keyframes BigCircle {
  0% {
      opacity: 0;
  }
  50% {
      transform: scale(.78) rotateZ(0);
      opacity: 0;
  }
  52% {
      opacity: 1;
  }
  75% {
      transform: scale(1) rotateZ(180deg);
  }
  100% {
      transform: scale(1) rotateZ(180deg);
      opacity: 1;
  }
}
@keyframes MiddleCircle {
  0% {
      opacity: 0;
  }
  25% {
      transform: scale(.71) rotateZ(0);
      opacity: 0;
  }
  27% {
      opacity: 1;
  }
  50% {
      transform: scale(1) rotateZ(-180deg);
  }
  100% {
      transform: scale(1) rotateZ(-180deg);
      opacity: 1;
  }
}
@keyframes SmallCircle {
  0% {
      transform: scale(0) rotateZ(0);
  }
  25% {
      transform: scale(1) rotateZ(180deg);
  }
  100% {
      transform: scale(1) rotateZ(180deg);
  }
}
@keyframes ThankYou {
  0% {
      opacity: 0;
  }
  77% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}