//Animation
//Animation header picture
@keyframes HeaderPictureVertical {
  from {
    opacity: 0;
    transform: rotateZ(270deg) translateX(-100%);
  }
  to {
    opacity: 1;
    transform: rotateZ(270deg) translateX(0%);
  }
}

@keyframes HeaderPictureHorizontal {
  from {
    opacity: 0;
    transform: rotateZ(0deg) translateX(-100%);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg) translateX(0%);
  }
}

//Animation header description
@keyframes HeaderDesc {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

//Animate form input
@keyframes Inputs {
  from {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }
  20% {
    border: 1px solid $colorPrimary;
    box-shadow: 0 0 5px $colorPrimary;
  }
  40% {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }
  60% {
    border: 1px solid $colorPrimary;
    box-shadow: 0 0 5px $colorPrimary;
  }
  80% {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }
  to {
    border: 1px solid $colorPrimary;
    box-shadow: 0 0 5px $colorPrimary;
  }
}

//Menu desktop
@keyframes VisibleMenu {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(0);
  }
}

@keyframes HiddenMenu {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-180deg);
  }
}