@media (min-width: 576px) { 
    .menu{
        padding: 5%;
    }
    .prologue{
        width: 50%;
        left: 45%;
        top: 25%;
    }
    .see-me{
        display: flex;
        justify-content: center;
        img{
            width: 60%;
        }
    }
    .social-media{
        flex-direction: column;
    }
    .self-description{
        h4{
            text-align: center;
        }
    }
}
@media (min-width: 768px) {
    h2{
        hr{
            width: 7%;
        }
    }
    .flex-dir{
        flex-direction: row;
    }
    .menu{
        display: initial;
        background: none;
        position: relative;
        width: auto;
        height: auto;
        z-index: 0;
        padding: 0;
        li{
            float: left;
            height: auto;
            width: auto;
            padding: 10px 15px;
        }
    }
    .nav-toggle{
        display: none;
    }
    .prologue{
        width: 60%;
        top: 35%;
        left: 35%;
        h1{
            font-size: 4rem;
        }
    }
    .see-me{
        display: block;
        margin-right: 50px;
        align-items: center;
        img{
            width: 100%;
        }
    }
    .social-media{
        flex-direction: row;
    }
    .self-description{
        h4{
            text-align: left;
        }
        p{
            text-align: left;
        }
    }
    .skills-box{
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 992px) { 
    header.container{
        padding: 0 12.5%;
    }
    .prologue{
        left: 40%;
        h1{
            font-size: 3rem;
        }
    }
    .see-me{
        img{
            width: auto;
            max-width: 350px;
        }
    }
    .skills-box{
        grid-template-columns: 31% 31% 31%; 
    }
    .works-box{
        grid-template-columns: auto auto;
    }
    form{
        width: 70%;
        margin: 0 15%;
    }
    input[name=name]{
        width: 48%;
        float: left;
    }
    input[name=email]{
        width: 48%;
        float: right;
    }
}