@import '_variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
main{
    position: relative;
    margin-top: 100vh;
}
section{
    padding-top: 4%;
    padding-bottom: 4%;
    background: $colorWhite;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: $colorGrey;
}
a{
    text-decoration: none;
    color: $colorWhite;
}
h2{
    color: $colorPrimary;
    font-weight: bold;
    white-space: 3px;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 35px;
    hr{
        width: 20%;
        margin: 10px auto;
        border: 1px solid $colorDarkGrey;
        border-radius: 1px;
    }
}
.container{
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.flex{
    display: flex;
}
.flex-dir{
    flex-direction: column;
}
.desc{
    margin-bottom: 30px;
    text-align: center;
}
.skills, .contact{
    background: $colorLightGrey;
}
.icon-bar{
    display: block;
    width: 35px;
    height: 5px;
    background-color: $colorWhite;
    margin: 6px 0;
    border-radius: 2px;
    transition: .4s;
}
/*
* works animation
*/
.scal{
    transform: scale(1,1) !important;
}
.flip{
    transform: perspective(400px) rotateX(0) !important;
    opacity: 1 !important; 
}
/*
* Button
*/
.btn{
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    margin: 5px 10px;
    word-spacing: 2px;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    &:hover{
        //box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
}
.btn-primary{
    background: $colorPrimary;
    color: $colorWhite;
}
.btn-secondary{
    background: transparent;
    border: 2px solid $colorSecondary;
    color: $colorSecondary;
    padding: 10px 23px;
}

/*
* Header page
*/
header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(40deg, rgba(69, 202, 255, .7),rgba(48, 63, 159, .7)), url('../image/person.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}
header.container{
    padding: 3% 5%;
}
nav{
    color: $colorWhite;
    width: 100%;
    padding: 10px;
}
.logo{
    flex: 1 1 auto;
}
.menu{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
    padding: 20%;
    list-style: none;
    background: linear-gradient(40deg, rgb(69, 202, 255),rgb(48, 63, 159));
    li{
        height: 20%;
        width: 100%;
        text-align: center;
        padding: 30px 15px;
        cursor: pointer;
        hr{
            margin-top: 10px;
            border: .5px solid $colorWhite;
            width: 0;
            visibility: hidden;
            transition: .3s;
        }
    }
    li:hover{
        hr{
            visibility: visible;
            width: 100%;
            transition: .3s;
        }
    }
    li.active{
        hr{
            visibility: visible;
            width: 100%;
        }
    }
}
.nav-toggle{
    position: relative;
    z-index: 6;
    .icon-bar:nth-of-type(3){
        transform: rotate(0);
    }
    .icon-bar:nth-of-type(2){
        opacity: 1;
    }
    .icon-bar:nth-of-type(1){
        transform: rotate(0);
    }
}
.nav-toggle.x{
    .icon-bar:nth-of-type(3){
        transform: rotate(-45deg) translateY(-1px);
        transform-origin: 10% 10%;
    }
    .icon-bar:nth-of-type(2){
        opacity: 0;
    }
    .icon-bar:nth-of-type(1){
        transform: rotate(45deg) translateY(1px);
        transform-origin: 10% 90%;
    }
}
.prologue{
    color: $colorWhite;
    width: 40%;
    position: absolute;
    top: 25%;
    left: 35%;
    animation: ShowPrologue 1s;
    h1{
        font-weight: bold;
        font-size: 2.5rem;
    }
    span{
        display: block;
    }
    p{
        color: $colorWhite;
    }
}

/*
* Section About-me
*/
.see-me{
    align-items: center;
    img{
        width: 100%;
    }
}
.social-media{
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    li{
        margin: 5px;
        padding: 5px;
        background: $colorSecondary;
        width: 40px;
        height: 40px;
        transition: .3s;
        img{
            width: 100%;
        }
    }
    li:hover{
        background: $colorPrimary;
        transition: .3s;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}
.self-description{
    h4{
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
    p{
        margin-bottom: 15px;
        font-size: 0.95rem;
        text-align: justify;
    }
}
.btn-description{
    text-align: center;
}

/*
* Section Skill
*/
.skills-box{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 25px;
}
.skill{
    background: $colorWhite;
    text-align: center;
    padding: 20px;
    font-size: .9rem;
    transform: scale(0,0);
    transition: all .3s;
    cursor: crosshair;
    h4{
        color: $colorSecondary;
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
    span{
        margin-bottom: 20px;
        color: $colorPrimary;
    }
}
.skill:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: .3s;
}
/*
* Section Works
*/
.works-box{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 25px;
}
.job{
    position: relative;
    transition: .5s;
    cursor: pointer;
    transform-origin: 50% 0%;
    transform: perspective(400px) rotateX(-90deg);
    opacity: 0;
    transition: .5s;
    img{
        width: 100%;
        min-height: 100%;
    }
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        background: rgba(88, 88, 88, .75);
        opacity: 0;
        font-family: "Font Awesome\ 5 Free";
        content: '\f002';
        font-size: 48px;
        padding-top: 20%;
        font-weight: 900;
        color:white;
        text-align: center;
        vertical-align: middle;
        transition: .5s;
    }
}
.job:hover{
    transition: .5s;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background: $colorPrimary;
    &::after{
        opacity: 1;
        transition: .5s;
        height: 57%;
    }
}
/*
* Section Contact
*/
form{
    width: 100%;
}
input, textarea{
    width: 100%;
    margin-bottom: 25px;
    background: $colorWhite;
    border: none;
    padding: 15px;
    color: $colorSecondary;
}
textarea{
    resize: none;
}
/*
* Footer Page
*/
footer{
    position: relative;
    background: $colorPrimary;
    text-align: center;
    color: $colorWhite;
    padding: 20px;
}
.thank-you{
    text-align: center;
    display: none;
    img{
        width: 50%;
    }
}
svg #big-circle{
    opacity: 0;
    transform-origin: 50% 50%;
    animation: BigCircle 4s forwards;
}
svg #middle-circle{
    opacity: 0;
    transform-origin: 50% 50%;
    animation: MiddleCircle 4s forwards;
}
svg #small-circle{
    transform-origin: 50% 50%;
    animation: SmallCircle 4s forwards;
}
svg #thank-you{
    opacity: 0;
    transform-origin: 50% 50%;
    animation: ThankYou 4s forwards;
}

@import '_media';
@import '_animation';